[color]
	status = auto
	diff = auto
	grep = auto
	ui = auto
[core]
	excludesfile = ~/.gitignore_global
	attributesfile = ~/.gitattributes_global
	pager = less -R
        editor = code --wait
[alias]
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	diffr = diff --color-words --word-diff-regex='\\w+|[^[:space:]]'
	co    = checkout
  pull-o = "!f(){ \
        local branch_name=${1};\
        local current_branch=$(git symbolic-ref --short HEAD);\
        local branch_remote=$(git config branch.${branch_name}.remote);\
        local branch_path=$(git config branch.${branch_name}.merge);\
        if [ ${branch_name} = ${current_branch} ];then \
            git pull ${branch_remote} ${branch_name} --ff-only;\
            return ${?};\
        else \
            git fetch ${branch_remote} && \
            git fetch . refs/remotes/${branch_remote}/${branch_name}:${branch_path};\
            return ${?};\
        fi;\
    };f"

[diff "haskell"]
        xfuncname = "^\\s*((data|newtype|type)?[^\\s]+)(\\s*[^\\s]*)*(::|=)$"

[diff "MSWord"]
        textconv = textutil -convert txt -stdout


[diff "pdf"]
        textconv = pdf2text_stdout

[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = current
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[rebase]
	autosquash = true

[include]
       path = .gitconfig.private
[init]
       templatedir = ~/.git_template
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
